body {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

aside {
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33A4E4;
}

main {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33E1E4;
    justify-content: center;
    flex-wrap: wrap;
}

.player-emoji {
    font-size: 70px;
}

.player-turn-emoji {
    font-size: 60px;
}


.game-board-header {
    height: 50px;
}

.game-board {
    height: 458px;
    width: 58%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 60px;
}

button:disabled {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.box-1 {
    border-top: none;
    border-right: black solid 1px;
    border-left: none;
    border-bottom: black solid 1px;
}

.box-2 {
    border-top: none;
    border-right: black solid 1px;
    border-left: black solid 1px;;
    border-bottom: black solid 1px;
}

.box-3 {
    border-top: none;
    border-right: none;
    border-left: black solid 1px;;
    border-bottom: black solid 1px;
}

.box-4 {
    border-top: black solid 1px;
    border-right: black solid 1px;
    border-left: none;
    border-bottom: black solid 1px;
}

.box-5 {
    border-top: black solid 1px;
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
}

.box-6 {
    border-top: black solid 1px;
    border-right: none;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
}

.box-7 {
    border-top: black solid 1px;
    border-right: black solid 1px;
    border-left: none;
    border-bottom: none;
}

.box-8 {
    border-top: black solid 1px;
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-bottom: none;
}

.box-9 {
    border-top: black solid 1px;
    border-right: none;
    border-left: black solid 1px;
    border-bottom: none;
}