
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c1d3d7;
    font-family: Sono;
    color: white;
}

aside {
    height: 79vh;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33A4E4;;
    border-radius: 70px;
}

main {
    height: 90vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #75dcf0;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 70px;
    margin: 3%;
}

.player-emoji {
    font-size: 70px;
}

.player-turn-emoji {
    font-size: 60px;
}


.game-board-header {
    height: 50px;
    font-size: 60px;
}

.win-header {
    font-size: 40px;
}

.win-count {
    font-size: 40px;
}

.game-board {
    height: 60%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px;
    min-width: 0;
    min-height: 0;
    align-content: center;
    justify-content: center;
}

.new-game-button {
    height: 30px;
    width: 21%;
    font-size: 12px;
}

button {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 60px;
    padding: 0;
}    

button:disabled {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.box-1 {
    border-top: none;
    border-right: white solid 3px;
    border-left: none;
    border-bottom: white solid 3px;
}

.box-2 {
    border-top: none;
    border-right: white solid 3px;
    border-left: white solid 3px;;
    border-bottom: white solid 3px;
}

.box-3 {
    border-top: none;
    border-right: none;
    border-left: white solid 3px;;
    border-bottom: white solid 3px;
}

.box-4 {
    border-top: white solid 3px;
    border-right: white solid 3px;
    border-left: none;
    border-bottom: white solid 3px;
}

.box-5 {
    border-top: white solid 3px;
    border-right: white solid 3px;
    border-left: white solid 3px;
    border-bottom: white solid 3px;
}

.box-6 {
    border-top: white solid 3px;
    border-right: none;
    border-left: white solid 3px;
    border-bottom: white solid 3px;
}

.box-7 {
    border-top: white solid 3px;
    border-right: white solid 3px;
    border-left: none;
    border-bottom: none;
}

.box-8 {
    border-top: white solid 3px;
    border-right: white solid 3px;
    border-left: white solid 3px;
    border-bottom: none;
}

.box-9 {
    border-top: white solid 3px;
    border-right: none;
    border-left: white solid 3px;
    border-bottom: none;
}
